global
    log 0.0.0.0 local0 info
    maxconn 4096

defaults
    mode http
    log global
    option httplog
    option forwardfor
    timeout connect 50000ms
    timeout client 50000ms
    timeout server 50000ms
    
frontend external_frontend
    bind *:8080
    option http-keep-alive
    monitor-uri /ping

    http-request set-var(txn.fly_region) req.hdr(Fly-Region)
    http-response set-header X-Routed-From %[var(txn.fly_region)]

    stats enable
    stats uri /stats
    stats hide-version
    stats auth admin:password

    default_backend rpc_pool_backend

<DYNAMIC_CONFIG>